.user_icon {
  width: 28px;
  height: 28px;
}
.retweeted {
  width: 18px;
  height: 18px;
}
#header {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
