.user_icon{
  width: 28px;
  height: 28px;

}
.retweeted{
  width: 18px;
  height: 18px;
}

#MixinBorderRadius(@radius: 10px){
  border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  -webkit-border-radius: @radius;
}

#header{
  #MixinBorderRadius(5px);
}
