<!DOCTYPE HTML>
<head>
<html lang="ja">
<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
</head>
<body>
<div id="all">
  {% block header %}
    <div id='header'>
      <h1>スカンディナヴィア半島2</h1>
    </div>
    <ul>
      <li> {{ display_user.name }}</li>
      <!--<li> <a href="{% url index %}">index</a></li>-->
      <li> <a href="{% url delete_session %}">セッションの削除</a></li>
    </ul>
  {% endblock %}
    <div id="main">
  {% block content %}{% endblock %}
    </div>
  {% block hooter%}
  <div id='footer'>
    <ul>
    	<li><a href="">About</a></li>
    </ul>
  </div>
  {% endblock %}
</div>
</body>
