<!DOCTYPE HTML>
<head>
<html lang="ja">
<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
</head>
<body>
<div id="all">
  {% block header %}
    <div id='header'>
      <h1>スカンディナヴィア半島2</h1>
    </div>
    <ul>
      <li> {{ display_user.name }}</li>
      <!--<li> <a href="{% url index %}">index</a></li>-->
      <li> <a href="{% url delete_session %}">セッションの削除</a></li>
    </ul>
  {% endblock %}
    <div id="main">
  {% block content %}{% endblock %}
    </div>
  {% block hooter%}
  <div id='footer'>
    アハーン
  </div>
  {% endblock %}
</div>
</body>
