{% extends 'base.html'%}
{% block title %}スカンディナヴィア半島2{% endblock %}
{% block content %}
<div id="head_box">
  更新時刻::<span id="current_date"></span>
  <span id="api_limit"> </span>
  <form action="" method="POST">
    発言する::<textarea id="status" name="status" rows="1" cols="30"></textarea>
  <span id="count"></span>
  </form>
</div>
<div id="column_box">
  <div id="column1" class="column"></div>
  <div id="column2" class="column"></div>
  <div id="column3" class="column"></div>
  <div id="column4" class="column"></div>
  <div id="column5" class="column"></div>
  <div id="column6" class="column"></div>
  <div id="column7" class="column"></div>
  <div id="column8" class="column"></div>
  <div id="column9" class="column"></div>
  <div id="column10" class="column"></div>
  <div id="column11" class="column"></div>
  <div id="column12" class="column"></div>
  <div id="column13" class="column"></div>
  <div id="column14" class="column"></div>
  <div id="column15" class="column"></div>
  <div id="column16" class="column"></div>
  <div id="column17" class="column"></div>
  <div id="column18" class="column"></div>
  <div id="column19" class="column"></div>
  <div id="column20" class="column"></div>
</div>
{% endblock %}
