{% extends 'base.html'%}
{% load cust_filter %}
{% block title %}スカンディナヴィア半島2{% endblock %}
{% block content %}
  <h2>スカンディナヴィア半島</h2>
  <a href="{% url get_home_timeline %}">home_timeline</a>
  <ul>
  {% for obj in tweets %}
  	<li>
     {% if obj.screen_name == obj.name %}
       <img src="{{ obj.user_image_url }}" alt="{{ obj.screen_name }}" />
       <a href="http://twitter.com/#!/{{ obj.screen_name }}">{{ obj.screen_name }}</a>
       {% autoescape off %}
       :{{ obj.text|urlize|user_mention|hashtag }}
       {% endautoescape %}
     {% endif %}
     {% if obj.screen_name != obj.name %}
       <img src="{{ obj.user_image_url }}" alt="{{ obj.screen_name }}" />
       <a href="http://twitter.com/#!/{{ obj.screen_name }}">{{ obj.screen_name }}({{ obj.name }})</a>
       {% autoescape off %}
       :{{ obj.text|urlize|user_mention|hashtag }}
       {% endautoescape %}
     {% endif %}
     <a href="http://twitter.com/#!/{{ obj.screen_name }}/status/{{ obj.status_id }}">{{ obj.created_at }}</a>
     from:<a href="{{ obj.source_url }}">{{ obj.source }}</a>
     {% if obj.old_tweet_screen_name %}
       <img src="{{ obj.old_tweet_user_image_url }}" alt="{{ obj.old_tweet_screen_name }}" />
       by:<a href="http://twitter.com/#!/{{ obj.old_tweet_screen_name }}">{{ obj.old_tweet_screen_name }}</a> count::{{ obj.retweeted_count|add:"1" }}
     {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
